.container {
    text-align: center;
    margin-top: 200px;
}

.input {
    padding: 7px;
    width: 280px;
    font-size: 16px;
    padding-left: 6px;
    border: 2px solid rgb(198, 198, 198);
}

.input:focus {
    border: 2px solid rgb(164, 164, 164);
}

.inputSelected {
    padding: 7px;
    width: 280px;
    font-size: 16px;
    padding-left: 6px;
    border: 2px solid #47C747
}
